div.image {
    background-image: url("c:/images/bruno-mars24.jpg");
    background-repeat: no-repeat;
    height: auto;
}

h3,
h1,
p {
    text-align: center;
    font-family: 'arial';
    line-height: 1px;
    color: black;
}

body {
    color: black;
    font-family: Verdana;
    font-weight: normal;
}

.mid {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'mywebfont', sans-serif
}

.para {
    color: black;
    font: italics;
    text-align: left;
    font-weight: normal;
    list-style-type: "disc";
}

td {
    text-align: center;
    vertical-align: middle;
}