h3,
h1 {
    text-align: center;
    font-family: 'MyWebFont';
    src: url('webfont.eot');
    /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

body {
    color: black;
    font-family: Verdana;
    font-weight: normal;
    line-height: 1;
}

.mid {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'mywebfont', sans-serif
}

.para {
    color: black;
    font: italics;
    text-align: left;
    font-weight: normal;
    list-style-type: "disc";
}

td {
    text-align: center;
    vertical-align: middle;
}