body {
    color: black;
    font-family: Verdana, arial, geneva, arial black;
    font-weight: normal;
    background-color: #ffcf79;
    font-size: 15px;
    text-align: center;
}

nav {
    background-color: white;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-radius: 5;
}

address {
    background-color: white;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-radius: 5;
}

th {
    text-align: center;
    font-size: large;
    font: black;
    font-weight: bolder;
}

td {
    text-align: center;
    font-size: small;
    font: black;
    font-weight: normal;
}